<html>
<title>SAI PRAKASH KOKKILIGADDA</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<h2>Myself In below Buttons</h2>
<p>Please Click Below buttons</p>

<div class="w3-container">
 <a href="/aboutme" class="w3-btn w3-black">aboutme</a>
  <a href="/index" class="w3-btn w3-black">index</a>
<a href="/studies" class="w3-btn w3-black">studies</a>
</div>
{% block content %}{% endblock %}
</body>

</html>
